body {
  background: rgb(208, 205, 205);
  height: 100vh;
  flex-direction: column;
  display: flex;
  margin: 0;
  font-size: 30px;
}



.container {
  display: flex;
  padding: 2rem;
  flex-grow: 1;
  border: 2px solid blue;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid gray;
  background-color: rgb(199, 196, 196);
  border-radius: 0.3em;
  

}
.container > div {
  flex-grow: 1;
  border: 1px solid rgb(221, 208, 208);
  background-color: rgb(166, 162, 162);
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}





.a { 
  flex: 1 1 100%;
  align-items: center;
}


.b {
  flex: 1 1 100%;
  flex-grow: 2;
  align-items: center;
}


.c, .d, .e {
  flex-grow: 1;

  
}

.f {
  width: 100%;
}


* {
  border: 2px solid hotpink;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
    max-height: 10vh;
  }
  .wrapper {
    justify-content: stretch;
    flex-basis: 70%;
    min-height:  80vh;
  }
  footer {
    margin: .5em;
    flex-grow: 3;
    min-height:  80vh;
  }
}